:root {
    /* colors */
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;

    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;

    --brown-800: #854632;

    --white: #FFFFFF;

    /* spacing */
    --spacing-1600: 8rem; /* 128px */
    --spacing-600: 3rem; /* 48px */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-400: 2rem; /* 32px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem; /* 16px */
    --spacing-150: 0.75rem; /* 12px */
    --spacing-100: 0.5rem; /* 8px */

    /* responsive design breakpoints */
    --desktop-viewport-min-width: 1440px;
    --tablet-viewport-min-width: 768px;
    --mobile-viewport-min-width: 375px;
}

/* custom fonts */
@font-face {
    font-family: "Young Serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: Outfit;
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-weight: 400 700;
}

/* typography */
.text-preset-1, .text-preset-2, .text-preset-3, .text-preset-4, .text-preset-4-bold {
    letter-spacing: 0px;
}
.text-preset-1, .text-preset-2, .text-preset-3 {
    line-height: 100%;
}
.text-preset-4, .text-preset-4-bold {
    line-height: 150%;
}

.text-preset-1 {
    font-family: "Young Serif", serif;
    font-size: 2.5rem; /* 40px */
}

.text-preset-2 {
    font-family: "Young Serif", serif;
    font-size: 1.75rem; /* 28px */
}

.text-preset-3 {
    font-family: Outfit, serif;
    font-weight: 600;
    font-size: 1.25rem; /* 20px */
}

.text-preset-4 {
    font-family: Outfit, serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
}

.text-preset-4-bold {
    font-family: Outfit, serif;
    font-weight: 700;
    font-size: 1rem; /* 16px */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--stone-100);
}
main {
    align-items: center;
}

/* Mobile Styles */
.flex-box {
    display: flex;
    flex-direction: column;
}

.meal-img {
    width: 100%;
    display: block;
    height: 10.6875rem; /* 171px */
}

.recipe {
    padding: var(--spacing-500) var(--spacing-400) var(--spacing-500) var(--spacing-400);
    background-color: var(--white);
    gap: var(--spacing-400);
}

.recipe-title {
    color: var(--stone-900);
    margin-bottom: var(--spacing-300);
}

.recipe-description {
    color: var(--stone-600);
}

.h-line {
    background-color: var(--stone-150);
    height: 0.0625rem; /* 1px */

}

/* preparation time section */
.recipe-prep-time {
    background-color: var(--rose-50);

    padding: var(--spacing-300);
    
    border-radius: var(--spacing-150);

    gap: var(--spacing-200);
}
.recipe-prep-time > .title {
    color: var(--rose-800);
}
.recipe-prep-time ul {
    list-style-position: inside;
    gap: var(--spacing-100);
}
.recipe-prep-time li {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}
.recipe-prep-time li::before {
    content: "•";
    width: 1rem; /* 16px */
    
    color: var(--rose-800);
    margin-left: var(--spacing-100);

}
.recipe-prep-time .item {
    color: var(--stone-600);
}

/* recipe ingredients */
.recipe-ingredients {
    gap: var(--spacing-300);
}
.recipe-ingredients > .title {
    color: var(--brown-800);
}
.recipe-ingredients ul {
    gap: var(--spacing-100);
}
.recipe-ingredients li {
    display: flex;
    gap: var(--spacing-200);
    color: var(--stone-600);
}
.recipe-ingredients li::before {
    content: "•";
    flex-basis: 1rem; /* 16px */
    flex-shrink: 0;
    color: var(--brown-800);
    margin-left: var(--spacing-100);
    font-family: initial;
}
.recipe-ingredients .item {
    color: var(--stone-600);
}



/* recipe instructions */

.recipe-instructions {
    gap: var(--spacing-300);
}

.recipe-instructions > .title {
    color: var(--brown-800);
}
.recipe-instructions > ol {
    gap: var(--spacing-100);
    counter-reset: index 0;
}

.recipe-instructions li {
    display: flex;
    gap: var(--spacing-200);
    align-items: start;

    padding-left: var(--spacing-100); /* 8px */

    counter-increment: index 1;
}
.recipe-instructions li::before {
    content:counter(index) ".";

    flex: 0 0 1rem; /* 16px */

    color: var(--brown-800);

    /* text-preset-4-bold */
    font-family: Outfit, serif;
    font-weight: 700;
    font-size: 1rem; /* 16px */
    letter-spacing: 0px;
    line-height: 150%;
}
.recipe-instructions .item {
    color: var(--stone-600);
}


/* recipe nutrition */

.recipe-nutrition {
    gap: var(--spacing-300);
}
.recipe-nutrition > .title {
    color: var(--brown-800);
}
.recipe-nutrition > .description {
    color: var(--stone-600);
}
.nutrition-facts {
    gap: var(--spacing-150);
}
.nutrition-facts > .fact {
    display: flex;
    gap: var(--spacing-200);

    padding: 0 var(--spacing-400) 0 var(--spacing-400);
}
.nutrition-facts > .fact > * {
    flex: 1 1 50%;
}
.nutrition-facts > .fact > label {
    color: var(--stone-600);
}
.nutrition-facts > .fact > span {
    color: var(--brown-800);
}


/* tablet viewport breakpoint : 768px */
@media (min-width: 48rem) { 
    main {
        padding: var( --spacing-1600) var(--spacing-600) var(--spacing-1600) var(--spacing-600);
    }
    .recipe-page {
        background-color: var(--white);
        gap: var(--spacing-500);
        padding: var(--spacing-500);
        /* 1.75rem = 28px */
        margin: 0 1.75rem 0 1.75rem; 
        border-radius: var(--spacing-300);
        max-width: 57rem; /* 912px */
    }
    .meal-img {
        border-radius: var(--spacing-150);
        height: 18.75rem; /* 300px */
    }
    .recipe {
        padding: 0;
    }
}

/* desktop viewport breakpoint : 1440px */
@media (min-width: 90rem) { 
    /* [TODO] question, should I reuse the styles defined in the media query for the tablet viewport or should I redfine them again */
    .recipe-page {
        /* 19rem = 304px */
        margin: 0 19rem 0 19rem; 
    }
}