.recipe-ingredients {
    gap: var(--spacing-300);
}
.recipe-ingredients > .title {
    color: var(--brown-800);
}
.ingredient {
    display: flex;
    gap: var(--spacing-200);
    color: var(--stone-600);
}
.ingredient:not(:last-of-type) {
    margin-bottom: var(--spacing-100); /* 8px */
}
.ingredient::before {
    content: "•";
    flex-basis: 1rem; /* 16px */
    flex-shrink: 0;
    color: var(--brown-800);
    margin-left: var(--spacing-100);

    font: initial;
    letter-spacing: initial;
}