.recipe-prep-time {
    background-color: var(--rose-50);

    padding: var(--spacing-300);
    
    border-radius: var(--spacing-150);

    gap: var(--spacing-200);
}
.recipe-prep-time > .title {
    color: var(--rose-800);
}
.prep-time-list {
    list-style-position: inside;
}
.prep-time-item {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
    color: var(--stone-600);
}
.prep-time-item:not(:last-of-type) {
    margin-bottom: var(--spacing-100); /* 8px */
}
.prep-time-item::before {
    content: "•";
    width: 1rem; /* 16px */
    
    color: var(--rose-800);
    margin-left: var(--spacing-100);
    
    font: initial;
    letter-spacing: initial;
}
